#CoursesLable
{
 font-size: larger;
 color: whitesmoke;

}

form
{
    text-align: center;
    font-size: large;
    font-weight: lighter;
    color: whitesmoke;
}


#setupForm2
{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 100px;
    min-height: auto;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: rgb(236, 91, 75);
}

#editClassForm
{
    display: none;
    flex-direction: column;
    width: 400px;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: rgb(236, 91, 75);
}

#buttonstyling2
{
    width: 45%;
    text-align: center;
}

#buttonstyling4
{
    width: 47.84%;
}

#styleText
{
    border:1px solid  whitesmoke;
}
#buttonstyling3
{
    height: auto;
    width: auto;
    color: whitesmoke;
    background-color: #444;
}

#styleText
{
    width: auto;
    height: auto;
}

#courseEditList
{
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    background-color: #444;
}

#ScheduleList
{
    text-align: left;
}
#popupbox
{
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
}


#popupbox2
{
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
}
#bottominfo
{
    padding: 10px 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #444;
}

#bottominfo2
{
    padding: 10px 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #444;
}


#bottominfo3
{
    padding: 10px 10px;
    border-radius: 5px;
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #444;
}
.circular--square
{
    display: inline-block;
    position: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#backgroundstyle
{
    background-color: #444;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
}

#tutorRatingLable
{

}

#submitclasses
{
    
    margin-right: 10;
    margin-left: auto;
    width: 30%;
    
}
#saveNewBio
{
    width: 30%;
    border-radius: 5px;
    border-color: rgb(88, 88, 88);
}
ul
{
    list-style: none;
    text-align: left;
}

#buttonstyling
{
    
    margin-right: 10;
    margin-left: auto;
    width: 48.80%;
    
}
#newEmail
{
    width: 40%;
}

#confirmNewEmail
{
    width: 40%;
}

#newPass
{
    width: 40%;
}

#confirmNewPass
{
    width: 40%;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}


#stylesomeButtons
{
    width: 20%;
}