.SearchCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: auto;
    min-width: 100px;
    min-height: 100px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    background-color: rgb(236, 91, 75);
    margin: 10px;
}

.searchContent {
    padding: 5px;
}

.searchButton {
    align-self: center;
}