#signupDiv
{
    margin:0 auto;
    text-align: center;
    height: auto;
}

#formID
{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: rgb(236, 91, 75);
}

* 
{
box-sizing: border-box;
}

body
{
    font-family: Lato;
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
}




label
{
    margin-bottom: 0.5em;
    color: whitesmoke;
    padding: 	0.938em;
    font-weight: lighter;
    font-size: large;
}




input, select
{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #444;
    color: whitesmoke;
    background-color: #444 ;
    padding: 0.938em;
    margin-top: 5px;
    
}


#radiobuttons
{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    background-color: #444;
    border-radius: 6px;
    
}

#inner-title
{
    font-size: large;
    font-weight: lighter;
    color: #444;
    font-weight: bold;

}

#signupButton
{
    color: whitesmoke;
    font-size: medium;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#defferSignIn
{
    background-color: rgb(236, 91, 75);
    color: whitesmoke;
    font-size: medium;
    text-decoration:underline;
    border: none;
}
